
version: '3'

services:
  lazyserver:
    image: omehani/mediagoblin
    ports:
      - "8080:6543"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:6543" ]
      timeout: 30s
      interval: 10s
      retries: 5
    volumes:
      - mediagoblin-data:/srv
    env_file: docker-compose.env

volumes:
  mediagoblin-data:
