version: '3'

services:
  nginx:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - efs-share:/srv
      - ./nginx.ecs.conf:/etc/nginx/conf.d/default.conf
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:80" ]
    depends_on:
      paste:
        condition: service_started

  paste:
    volumes:
      - efs-share:/srv
    expose:
      - 6543
  celery:
    volumes:
      - efs-share:/srv

volumes:
  efs-share:
